:root {
  --dark-clr: #272727;
  --light-clr: #ffffff;
  --primary-clr: #f20b78;
  --inActive-clr: #949494;
  --positive-clr: #55b700;
  --negative-clr: #ff2121;
  --br: 0.5rem;
  --elem-size: 50px;
  --gap: 0.5rem;
  --gap-S: calc(var(--gap) * 2);
  --gap-SM: calc(var(--gap) * 3);
  --gap-M: calc(var(--gap) * 4);
  --gap-XM: calc(var(--gap) * 5);
  --gap-L: calc(var(--gap) * 6);
  --animation-duration: 0.3s;
  --logo-h: 60px;
  --global-pad: 0.75rem;
  --doc-max-h: 100svh;
}

@supports not (height: 100svh) {
  :root {
    --doc-max-h: 100vh;
  }
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  user-select: none;
}
@keyframes modalClosing {
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0;
  }
}
@keyframes modalApearence {
  to {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh);
    opacity: 1;
  }
}
@keyframes deletingPlayer {
  from {
    height: var(--elem-size);
    -webkit-transform: translate3d(0vw, 0, 0);
    transform: translate3d(0vw, 0, 0);
  }
  to {
    height: 0px;
    -webkit-transform: translate3d(-100vw, 0, 0);
    transform: translate3d(-100vw, 0, 0);
  }
}
@keyframes spiningWheel {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes mainBtnShown {
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes opacityAppearence {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menuAppearence {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}

button,
input {
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
}
input[type="number"]:is(
    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button
  ) {
  -webkit-appearance: none;
  appearance: none;
  opacity: 0;
  display: none;
}

button {
  cursor: pointer;
  -webkit-transition: all var(--animation-duration);
  transition: all var(--animation-duration);
}
ul {
  list-style: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--dark-clr);
  color: var(--light-clr);
  padding: var(--global-pad);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--gap-M);
  height: var(--doc-max-h);
  max-height: var(--doc-max-h);
}
main {
  height: 100%;
}

#container {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal {
  transition-behavior: allow-discrete;
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: var(--gap-S);
  --offset: 2px;
  top: calc(-1 * var(--offset));
  left: calc(-1 * var(--offset));
  width: calc(2 * var(--offset) + 100%);
  height: calc(2 * var(--offset) + 100%);
  background-color: var(--dark-clr);
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateY(100vh);
  transform: translateY(100vh);
  opacity: 0;
  z-index: -1;
  -webkit-transition: all var(--animation-duration) ease-in-out;
  transition: all var(--animation-duration) ease-in-out;
}

.modal.shown {
  z-index: 10;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translateY(0vh);
  transform: translateY(0vh);
  opacity: 1;
}
.modal .settings {
  display: flex;
  flex-direction: column;
  gap: var(--gap-S);
}

.modal .settings .settings_param {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 40px;
}
.modal .settings .param_title {
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-size: 30px;
}
@media screen and (max-width: 355px) {
  .modal .settings .param_title p {
    display: none;
  }
}
.modal .settings .param_title .param_title-icon {
  display: inline-block;
  height: calc(var(--elem-size) * 0.8);
  width: calc(var(--elem-size) * 0.8);
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.modal .settings .param_title .param_title-icon.spy {
  background-image: url("./images/icons/icon_spy.svg");
}
.modal .settings .param_title .param_title-icon.timer {
  background-image: url("./images/icons/icon_timer.svg");
}
.modal .settings .param_btns {
  width: fit-content;
  display: flex;
  align-items: center;
}
.modal .settings .param_btns input {
  display: inline-block;
  height: var(--elem-size);
  width: calc(var(--elem-size) + 5px);
  -webkit-appearance: textfield;
  appearance: textfield;
  text-align: center;
  color: var(--primary-clr);
  pointer-events: none;
}
.modal .settings .param_btns button {
  display: inline-block;
  width: var(--elem-size);
  height: var(--elem-size);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}
.modal .settings .param_btns button[data-param-btn="-"] {
  background-image: url("./images/icons/icon_minus.svg");
}
.modal .settings .param_btns button[data-param-btn="+"] {
  background-image: url("./images/icons/icon_plus.svg");
}

.modal #maps_container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(var(--elem-size) * 2.5), 1fr)
  );
  gap: var(--gap);
  overflow: auto;
}
.modal #maps_container .map {
  aspect-ratio: 1;
  border-radius: var(--br);
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: opacity var(--animation-duration) ease;
  transition: opacity var(--animation-duration) ease;
  container-type: inline-size;
  position: relative;
  isolation: isolate;
  /* overflow: clip; */
}
.modal #maps_container .map img {
  border-radius: var(--br);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.modal #maps_container .map p {
  border-radius: var(--br);
  padding: 0.5rem;
  text-align: center;
  font-weight: 700;
  font-size: 11cqw;
  line-height: 1;
  text-wrap: balance;
  position: relative;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal #maps_container .map[isActive="true"] {
  opacity: 1;
}
.modal #maps_container.rows {
  display: flex;
  flex-direction: column;
}
.modal #maps_container.rows .map {
  aspect-ratio: auto;
}
.modal #maps_container.rows p {
  padding: 0.2rem 0.5rem;
  place-content: baseline;
  text-align: left;
  font-size: 6cqw;
  font-weight: 500;
}
.modal .info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap);
}
.modal .info .info_btn {
  background-color: var(--inActive-clr);
  background-size: 80%;
  background-image: url("./images/icons/icon_layout.svg");
}
.modal h3 {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}
.modal .winners {
  height: 100%;
  display: flex;
  gap: var(--gap);
}
.modal .winners .winner {
  height: 100%;
  flex: 1;
  border-radius: var(--br);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: gray;
  padding-bottom: 2rem;
  font-weight: 700;
  font-size: 2rem;
}
.modal .winners .winner[data-winner="innocent"] {
  background-color: var(--positive-clr);
}
.modal .winners .winner[data-winner="spy"] {
  background-color: var(--negative-clr);
}

section {
  height: 100%;
  max-height: calc(
    var(--doc-max-h) - var(--global-pad) * 2 - var(--logo-h) - var(--gap-M)
  );
  display: none;
  gap: var(--gap-S);
}

section.shown {
  display: flex;
  flex-direction: column;
}

#section_prepare {
  --count-children: 4;
  --formAdditionSize: 0rem;
}

.Logo {
  height: var(--logo-h);
  width: 100%;
  margin: 0 auto;
  background: url("./images/icons/logo.svg") no-repeat center / contain;
}

.btn {
  width: 100%;
  min-height: var(--elem-size);
  height: var(--elem-size);
  border-radius: var(--br);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-clr);
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 4px;
  cursor: pointer;
}
.btn > * {
  pointer-events: none;
}
.btn-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--elem-size);
  height: var(--elem-size);
  aspect-ratio: 1;
  border-radius: var(--br);
  background-repeat: no-repeat;
  background-position: center;
}

.player-elem {
  flex: 1;
  height: var(--elem-size);
  padding: 0 var(--gap) 4px;
  border-radius: var(--br);
  background-color: var(--light-clr);
  display: flex;
  align-items: center;
  color: var(--dark-clr);
}

.menu {
  display: flex;
  align-items: center;
  gap: var(--gap);
}
.menu_item {
  padding: 0 var(--gap-S);
  justify-content: space-between;
}
.menu_item p {
  padding-bottom: 4px;
}
@media screen and (max-width: 325px) {
  .menu_item {
    justify-content: center;
  }
  .menu_item p {
    display: none;
  }
}
.menu_item span {
  display: flex;
  align-items: center;
}
.menu_item.settings {
  background-color: var(--inActive-clr);
}

#section_prepare .form_prepare {
  --error-size: 1rem;
  display: flex;
  gap: var(--gap);
  position: relative;
}
#section_prepare .form_prepare.invalid input {
  outline: 2px solid var(--negative-clr);
  margin-bottom: var(--error-size);
}

#section_prepare .form_prepare.invalid::after {
  content: attr(error);
  display: inline-block;
  position: absolute;
  top: calc(100% - var(--error-size));
  left: 0;
  font-size: var(--error-size);
  color: var(--negative-clr);
}

#section_prepare:has(.form_prepare.invalid) {
  --formAdditionSize: 1rem;
}
#section_prepare .form_prepare input {
  transform-origin: left;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all var(--animation-duration) ease;
  transition: all var(--animation-duration) ease;
}
#section_prepare .form_prepare button {
  background-color: var(--positive-clr);
  background-image: url("./images/icons/icon_plus.svg");
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all var(--animation-duration) ease;
  transition: all var(--animation-duration) ease;
}

#section_prepare #list_prepare {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  max-height: calc(
    var(--doc-max-h) - var(--global-pad) * 2 - var(--logo-h) - var(--gap-M) -
      var(--elem-size) * (var(--count-children) - 1) - var(--gap-S) *
      (var(--count-children) - 1) - var(--formAdditionSize)
  );
  overflow: auto;
  scroll-snap-type: mandatory;
  overlay: auto;
}
#section_prepare #list_prepare li {
  display: flex;
  cursor: pointer;
  gap: 0 !important;
  -webkit-transition: all var(--animation-duration) ease-out;
  transition: all var(--animation-duration) ease-out;
}
#section_prepare #list_prepare li.deleting {
  animation: deletingPlayer 300ms ease-in forwards;
}

#section_prepare #list_prepare li button {
  width: 0;
  background-color: var(--negative-clr);
  background-image: url("./images/icons/icon_minus.svg");
  -webkit-transition: width var(--animation-duration) ease-in-out;
  transition: width var(--animation-duration) ease-in-out;
}
#section_prepare #list_prepare li.toDelete {
  gap: var(--gap) !important;
}
#section_prepare #list_prepare li.toDelete button {
  width: var(--elem-size);
}

button.hidden {
  display: none !important;
}

#section_start .title {
  font-weight: 400;
  text-align: center;
  font-size: min(3rem, 12vw);
  line-height: 0.9;
}
#section_start .title span {
  font-weight: 700;
}

#section_start .card {
  perspective: 1000px;
  height: 100%;
}
#section_start .card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: transform calc(var(--animation-duration) * 2);
  transition: transform calc(var(--animation-duration) * 2);
  transform-style: preserve-3d;
  will-change: transform;
}
#section_start .card :is(.card-front, .card-back) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-clr);
  overflow: hidden;
}
#section_start .card .card-front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

#section_start .card.shown .card_inner {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

#section_start .card .card_image {
  background-color: gray;
  height: inherit;
  max-height: 70%;
  /* aspect-ratio: 1; */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--br);
  width: 100%;
  margin: 0 auto;
}
#section_start .card .card-back .card_image {
  background-size: auto 80%;
  background-image: url("./images/icons/icon_question.svg");
}
#section_start .card .card-front .card_image {
  background-size: cover;
}
#section_start .card .card-back .card_text h3 {
  color: var(--primary-clr);
  font-size: clamp(1rem, 5vw, 2rem);
}
#section_start .card .card-back .card_text p {
  font-size: clamp(1rem, 4vw, 1.5rem);
  line-height: 1.2;
  max-width: 38ch;
}
#section_start .card .card_text {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#section_start .card .card-front .card_text {
  font-size: clamp(1rem, 6vw, 2rem);
  line-height: 1.1;
}
#section_start .card .card-front .card_text span {
  font-weight: 700;
}
#section_start .card .card-front .card_text .highlighted span {
  text-decoration: underline;
  text-decoration-color: var(--primary-clr);
  text-underline-offset: 0.1em;
}

#section_process {
  text-wrap: balance;
  text-align: center;
  justify-content: space-between;
}
#section_process .process_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
#section_process .process_content time {
  font-size: 2rem;
  line-height: 1;
}
#section_process .process_content h3 {
  font-size: 2rem;
  line-height: 1;
}
#section_process .process_content {
}

#section_process .process_content .spinner {
  pointer-events: none;
  position: absolute;
  width: min(75vw, 250px);
  --b: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--primary-clr);
  -webkit-mask: repeating-conic-gradient(#0000 0deg, #000 90deg),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 10px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: spiningWheel 30s linear infinite;
}

button:disabled {
  opacity: 0.3 !important;
  pointer-events: none;
}

#section_final {
  justify-content: space-between;
}
#section_final .image {
  flex: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--inActive-clr);
  border-radius: var(--br);
}
#section_final .final_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}
#section_final span {
  font-weight: 700;
}
#section_final {
}

.menu button {
  opacity: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transform-origin: left;
}

section.shown .menu button {
  animation: menuAppearence var(--animation-duration) ease-in forwards;
}
button[name="btnSubmit"] {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}
:is(section.shown, .modal.shown) button[name="btnSubmit"] {
  animation: mainBtnShown var(--animation-duration) ease-in forwards;
  animation-delay: 0s;
}
#section_prepare.shown .form_prepare input {
  animation: menuAppearence var(--animation-duration) ease-in forwards;
  animation-delay: var(--animation-duration);
}
#section_prepare.shown .form_prepare button {
  animation: menuAppearence var(--animation-duration) ease-in forwards;
  animation-delay: calc(var(--animation-duration) * 2);
}

#section_start .title {
  animation: opacityAppearence var(--animation-duration) ease-in forwards;
}

#section_start .card .card_image {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}
#section_start.shown .card .card_image {
  animation: menuAppearence var(--animation-duration) ease-in forwards;
  animation-delay: var(--animation-duration);
}
#section_start .card .card_text :is(h3, p) {
  transform-origin: left;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}
#section_start.shown .card .card_text :is(h3, p) {
  animation: menuAppearence var(--animation-duration) ease-in forwards;
}
#section_start.shown .card .card_text h3 {
  animation-delay: calc(var(--animation-duration) * 2);
}
#section_start.shown .card .card_text p {
  animation-delay: calc(var(--animation-duration) * 3);
}
#section_start button[name="btnSubmit"] {
  animation-delay: calc(var(--animation-duration) * 4);
}
#section_process .process_content {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}
#section_process .process_tips {
  opacity: 0;
}
#section_process.shown .process_content {
  animation: menuAppearence var(--animation-duration) ease-in forwards;
  animation-delay: calc(var(--animation-duration));
}
#section_process.shown .process_tips {
  animation: opacityAppearence var(--animation-duration) ease-in forwards;
  animation-delay: calc(var(--animation-duration) * 2);
}
.modal.shown button[name="btnSubmit"] {
  animation-delay: 1s;
}
